*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.main{
    background: ("./images/banner.png")no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: 50% 50%;
    width: 100%;
}
.main{
    font-size: 4rem;
    font-weight: 700;
}
.btn1{
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    font-weight: 700;
    border-radius: 60px;

}
.card {
    margin-bottom: 20px;
  }
